@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            <span class="login100-form-title p-b-43">
                An error occurred while processing your request.
            </span>
        </div>
    </div>
</div>

